body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #323232;
  background-color: #849d8f;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.submenu,
.main-nav-list,
.user-nav,
.slider-list,
.hit-item,
.features-title,
.footer-info-list,
.breadcrumbs  {
  list-style: none;
}

.btn {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(180deg, #f26843, #e74b36);
  border: none;
}
.btn:hover,
.btn:focus {
    background: linear-gradient(180deg, #f58669, #ec6f5e);
  }

.btn:active {
  background: linear-gradient(180deg, #d74632, #e1613e);
  color: #fceeec;
}

.slide-title {
  font-size: 60px;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
}

.banner-item-title {
  font-size: 35px;
  line-height: 1.2;
  font-weight: bold;
  color: #ffffff;
}

.main-nav-list a {
  font-weight: 700;
  text-decoration: underline;
}

.main-nav-list a:hover,
.user-nav a:hover
 {
  color: #323232;
  background-color: #f8f7f4;
}

.user-nav a {
  font-size: 14px;
  font-weight: 500;
}

.contact {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.contacts-phone {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.banner-text {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.banners article {
  background-image: url("../img/bg-banner-1.jpg");
}
.banners article:last-child {
  background-image: url("../img/bg-banner-2.jpg");
}

.catalog-item {
  text-align: center;
}
.catalog-item-title {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}
.catalog-item-price {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-item-price span {
  font-size: 30px;
}
.btn-quick {
  font-size: 18px;
  color: #fefefe;
  background-color: #ec583c;
}

.features {
  background-image: url("../img/features-pattern.jpg");
}
.features-title {
  font-size: 24px;
  font-weight: 500;
}

.blog {
  background-image: url("../img/bg-blog.jpg");
}
.blog-title {
  font-weight: 500;
}
.blog-link {
  font-size: 24px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
}
.subscribe {
  background-color: #f8f7f4;
}

.contacts {
  background-color: #ffffff;
}
.contacts-address {
  font-size: 14px;
}
.contacts-address b {
  font-size: 18px;
  font-weight: 700;
}

.footer-info-list {
  font-size: 13px;
}
.footer-info-list li:first-child {
font-weight: 700;
}
.footer-info-list a {
  text-decoration: underline;
  }
.copyright {
  font-size: 12px;
  color: #ffffff;
}
.copyright-text {
  text-decoration: underline;
}

/* каталог */

.cart-table {
  font-size: 13px;
  background-color: #f8f7f4;
}
.cart-table span {
  color: #999999;
}
.cart-summary {
  font-size: 15px;
  font-weight: 700;
}

.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.main-title {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}
.catalog-filter {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.catalog-filter option, label {
  font-size: 16px;
}

.paginator a {
  font-weight: 500;
  text-decoration: none;
}

.page-current {
  color: #323232;
  background-color: #ffffff;
}
