body {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", Arial, sans-serif;
}

.slide-title {
  font-size: 60px;
  line-height: 61px;
  color: #ffffff;
  font-weight: bold;
}

.banner-item-title {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
}

